*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.container{
    width: 90%;
    margin:auto
}

.color{
    color: white;
}

.padding{
    padding: 10px 0;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-none{
    display: none;
}

li{
    list-style: none;
    margin: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.button{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 20px
}
.supercontainer2{
    width: 95%;
    margin: auto;
}

.container2{
    width: 95%;
    margin: auto;
}

.minicontainer2{
    width: 95%;
    margin: auto;
}

.minicontainer{
    background-color: lightblue;
    color: dodgerblue;
    margin-top: 100px;  
    border-radius: 20px;  
    padding-top: 20px;
    margin-bottom: 10px;
}

.sub-minicontainer{
    width: 70%;
    margin: auto;
}

.minicontainer p{
    color: black;
    margin-top: 20px;
}

.container3{
    text-align: center;
    padding-top: 30px;
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 30px;
}

.phone {
    width: 60%;
    margin: auto;
}

.phone img{
    width: 100%;
    padding-top: 20px;
}

.margin{
    margin-top: 50px;
    text-align: center;
}

.photo{
    font-size: 100px;
}

.container4{
    width: 100%;
    background-color: rgb(149, 147, 230);
    margin-top: 50px;
    padding-bottom: 40px;
}

.planning1{
     color: white;
     width: 80%;
     margin: auto;
}

.planning1 img{
    width: 100%;
    padding-top: 20px;
}

.planning1 h1{
    padding-top: 40px;
}

.planning1 p{
    padding-top: 30px;
}

.planning2{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.planning2 img{
    width: 100%;
}

.arrow{
    border-radius: 50%;
    background-color: rgb(149, 147, 230); 
    padding: 20px;
    display: inline-block;
    color: blueviolet;
    margin-top: 40px;
}

.container5{
    width: 95%;
    margin: auto;
    text-align: center;
    padding-bottom: 60px;
}

.container5 h3{
    padding-top: 40px;
}

.container5 h2{
    padding-top: 20px;
    color: rgb(149, 147, 230); 
    padding-bottom: 20px;
}

.container5 p{
    padding-bottom: 20px;
}

.testimonial1{
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(149, 147, 230);
    border-radius: 20px;
}

.photo img{
    width: 100%;
    border-radius: 100%;
    height: 350px;
    object-fit:cover;
}

.text h2{
    color: white;
}

.container6{
    width: 100%;
    margin: auto;
    background-color: rgb(149, 147, 230);
    padding: 20px 0;
}

.supercontainer6{
    width: 100%;
    margin: auto;
    background-color: rgb(149, 147, 230);
    padding: 20px 0;
}

.center{
    text-align: center;
}

.planning3{
    color: rgb(149, 147, 230);
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.planning3 h1{
    font-size: 50px;
}

.planning3 h1,h3,p{
    padding-bottom: 20px;
}

.violet{
    border-radius: 20px;
    background-color: rgb(149, 147, 230);
    padding: 5px 20px;
}

.container7{
    width: 90%;
    margin: auto;
    padding: 40px 20px;
    margin-top: 20px;
}

.container7 h1{
    color: rgb(149, 147, 230);
}

.about{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.about img{
    border-radius: 100%;
    height: 300px;
    object-fit:cover;
}

.position{
    position: absolute;
    top: 5px;
    right: 90px;
    font-size: 60px;
    color:rgb(149, 147, 230);
}

.color2{
    color:rgb(149, 147, 230);
    padding-top: 20px;
}

.bottom{
    padding-bottom: 20px;
}

.color3{
    color: orangered;
}

.bluviolet{
    color: blueviolet;
}

.top{
    padding-top: 20px;
}

.violet2{
    border-radius: 20px;
    background-color: white;
    color: rgb(149, 147, 230);
    padding: 5px 20px;
}

.black{
    width: 100%;
    margin: auto;
    background-color: black;
    padding: 20px;
}

.black p{
    padding-bottom: 40px;
}

.black a{
    color: rgb(149, 147, 230);
}

.container8{
    width: 100%;
    background-color: rgb(149, 147, 230);
    padding: 20px 0;
}

/* RESPONSIVE */
@media all and (min-width: 768px){
    
    .flex{
        display: flex;
        justify-content: space-between;
    }

    .b-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .supercontainer2{
        width: 60%;
    }

    .container2{
        width: 35%;
        display: flex;
        height: 690px;
        padding-top: 50px;
    }

    .minicontainer2{
        width: 30%
    }

    .testimonial1{
        display: flex;
    }

    .photo img{
        width: 80%;
        height: 100%;
    }

    .text h2{
        text-align: left;
    }
    
    .planning3{
        width: calc(95% - 10px);
    }

    .boy{
        width: calc(50% - 20px);
    }

    .about{
        width: calc(45% - 40px);
        position: relative;
    }

    .position{
    position: absolute;
    top: 5px;
    right: 0;
    }

    .container6{
        width: calc(100% / 2);
    }
}

@media all and (min-width: 992px){
    
    .supercontainer2{
        margin: 0 ;
    }

    .minicontainer{
        padding: 10px;
    }

    .c-flex{
        display: flex;
    }

    .container i{
        display: none;
    }

    .d-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .d-none{
        display: block;
    }

    .mainsize{
        width: 60%;
        margin: auto;
    }

    .container2{
        height: 450px;
    }

    .container4{
        height: 700px;
    }
    .planning1 {
        width: 25%;
        margin: 0 auto;
    }

    .planning1 h1{
        padding-top: 100px;
    }

    .planning2 {
        width: 25%;
        margin: auto;
        margin-top: 100px;
    }

    
    .mainsize2{
        width: 80%;
        margin: auto;
    }

    .photo{
        width: 75%;
    }

    .b-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .mainsize3{
        width: 90%;
        margin: auto;
    }

    .container6{
        width: calc(100% / 3);
    }
}